<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
<form method="get" action="signUpSubmit">
<div class="input-group input-group-lg" id="c5">
  <span class="input-group-addon" id="sizing-addon1" >*</span>
  <input type="text" class="form-control" placeholder="First name" aria-describedby="sizing-addon1" id="c4" name="name">
</div><br>
<div class="input-group input-group-lg" id="c5">
  <span class="input-group-addon" id="sizing-addon1" >*</span>
  <input type="email" class="form-control" placeholder="email" aria-describedby="sizing-addon1" id="c4" name="email">
</div><br>
<div class="input-group input-group-lg" id="c5">
  <span class="input-group-addon" id="sizing-addon1" >*</span>
  <input type="text" class="form-control" placeholder="Password " aria-describedby="sizing-addon1" id="c4" name="password">
</div><br>


<button type="submit" class="btn btn-primary btn-lg" id="d1" "="">Sign up</button>
</form>
</body>
</html>