#a1
{height: 70px;}
#a4
{height: 70px;}
#a2
{height: 70px;}
#a3
{height: 70px;}
#c1
{
    height: 42px;
    border-radius: 16px;
    width: 299px;
}
#c2
{
    height: 42px;
    border-radius: 16px;
    width: 299px;
}
#c3
{
    height: 42px;
    border-radius: 16px;
    width: 299px;
}
#c4
{
    height: 42px;
    border-radius: 16px;
    width: 299px;
}
#a5
{ margin-left: 500px;
}
#d1
{
    height: 41px;
    width: 167px;
}
#d2
{background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmNg9jxNwg6kZXuhNQb8LYL1YIv2TjcV9jsON_ejxTByk3ETlBSg');
color: snow;}