#b1
{background-color: #00b16e;
color: snow;}
#b2
{background-color: #2d3e50;
margin-top: 218px;}
#b3
{background-color: #00b16e;
color: snow;}
#a1
{height: 70px;}
#a4
{height: 70px;}
#a2
{height: 70px;}
#a3
{height: 70px;}